# Virtuelle Umgebung (im Container neu installieren)
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Python Cache
__pycache__/
*.pyc

# Secrets (nie ins Image!)
.env

# Logs & temporäre Dateien
*.log
tmp/

config.json